@using Andrei15193.Edesia.Models;
@model IEnumerable<DisplayLanguage>
@{
	ViewBag.Title = string.Empty;
	Layout = null;
}
@if (Model.Skip(1).Any())
{
	<div class="element">
		<a class="dropdown-toggle" style="cursor: pointer;">@LanguageResource.LanguageLabel</a>
		<ul class="dropdown-menu inverse" data-role="dropdown">
			@foreach (DisplayLanguage displayLanguage in Model)
			{
				if (displayLanguage.IsSelected)
				{
					<li class="disabled"><a href="/User/ChangeLanguage?languageId=@Server.UrlEncode(displayLanguage.LanguageId)&returnUrl=@Server.UrlEncode(Request.Path)">@displayLanguage.LanguageDisplayName</a></li>
				}
				else
				{
					<li><a href="/User/ChangeLanguage?languageId=@Server.UrlEncode(displayLanguage.LanguageId)&returnUrl=@Server.UrlEncode(Request.Path)">@displayLanguage.LanguageDisplayName</a></li>
				}
			}
		</ul>
	</div>
}