@model Andrei15193.Edesia.Models.User

@{
	ViewBag.Title = (Model.Username);
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="message">
	<h1>Profilul lui @Model.Username</h1>
	<p>Nume de utilizator: @Model.Username</p>
	<p>E-Mail: @Model.Email</p>
	<p>Adresă: @Model.StreetAddress</p>
</div>
