@using Andrei15193.Edesia.Resources;
@model Andrei15193.Edesia.Models.Notice
@{
	ViewBag.Title = Model.PageTitle;
}
<div class="grid fluid">
	<div class="row">
		<div class="span4 offset4">
			<div class="notice bg-gray fg-white text-justify">
				@if (!string.IsNullOrEmpty(Model.Title) && !string.IsNullOrWhiteSpace(Model.Title))
				{
					<h1>@Model.Title</h1>
				}
				@if (Model.Paragraphs != null)
				{
					foreach (string paragraph in Model.Paragraphs)
					{
						if (!string.IsNullOrEmpty(paragraph) && !string.IsNullOrWhiteSpace(paragraph))
						{
							<p>@paragraph</p>
						}
					}
				}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset4">
			<p class="text-center"><a href="@Url.Action("Default", "Product")">@ApplicationControllerStrings.BackToDefaultPageButton_DisplayName</a></p>
		</div>
	</div>
</div>