@model Andrei15193.Edesia.Controllers.Validation.ValidationResult
<div id="error">
	<h2>Ne pare rău dar s-au întâmpinat probleme:</h2>
	<ul>
		@foreach (string errorMessage in Model.Errors)
		{
			<li>@errorMessage</li>
		}
	</ul>
</div>