<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<customErrors mode="On" defaultRedirect="/" xdt:Transform="Replace" />
	</system.web>
	<DependencyInjection xdt:Transform="Replace" xmlns="http://storage.andrei15193.ro/public/schemas/DependencyInjection.xsd">
		<DependencyContainer>
			<Object Name="uniqueConstraintExceptionInterpreter">
				<Type
					FullName="Andrei15193.Edesia.Xml.Validation.UniqueConstraintExceptionInterpreter"
					Assembly="Andrei15193.Edesia" />
			</Object>
			<Object Name="xmlDocumentProvider">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.Azure.AzureXmlDocumentProvider"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="StorageConnectionString" />
					</Parameter>
				</OnCreation>
				<OnCreated>
					<SetProperty Name="XmlSchemaExceptionInterpreters">
						<FromCollection>
							<ItemType
								FullName="Andrei15193.Edesia.Xml.Validation.IXmlSchemaExceptionInterpreter"
								Assembly="Andrei15193.Edesia">
								<GenericArguments>
									<Type FullName="System.Xml.Schema.XmlSchemaException"
										  Assembly="System.Xml.dll" />
								</GenericArguments>
							</ItemType>
							<Item>
								<Object Name="uniqueConstraintExceptionInterpreter" />
							</Item>
						</FromCollection>
					</SetProperty>
				</OnCreated>
			</Object>
			<Object Name="applicationUserStore">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.XmlApplicationUserStore"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="Membership.xml" />
					</Parameter>
					<Parameter>
						<Object Name="xmlDocumentProvider" />
					</Parameter>
				</OnCreation>
			</Object>

			<Object Name="eMailSettings">
				<Type
					FullName="Andrei15193.Edesia.Settings.Azure.AzureEMailSettings"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="SmtpHost" />
					</Parameter>
					<Parameter>
						<String Value="SmtpPort" />
					</Parameter>
					<Parameter>
						<String Value="SmtpUsername" />
					</Parameter>
					<Parameter>
						<String Value="SmtpPassword" />
					</Parameter>
					<Parameter>
						<String Value="SmtpSenderEMailAddress" />
					</Parameter>
					<Parameter>
						<String Value="SmtpSenderDisplayName" />
					</Parameter>
				</OnCreation>
			</Object>
			<Object Name="localizationSettings">
				<Type
					FullName="Andrei15193.Edesia.Settings.LocalizationSettings"
					Assembly="Andrei15193.Edesia" />
				<OnCreated>
					<SetProperty Name="LanguageSettings">
						<FromCollection>
							<ItemType
								FullName="Andrei15193.Edesia.Settings.ILanguageSettings"
								Assembly="Andrei15193.Edesia" />
							<Item>
								<Object Name="RomanianLanguageSetting" />
							</Item>
						</FromCollection>
					</SetProperty>
				</OnCreated>
			</Object>

			<Object Name="RomanianLanguageSetting">
				<Type
					FullName="Andrei15193.Edesia.Settings.LanguageSettings"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="Română" />
					</Parameter>
					<Parameter>
						<String Value="ro-RO" />
					</Parameter>
					<Parameter>
						<String Value="Andrei15193.Edesia" />
					</Parameter>
					<Parameter>
						<String Value="Andrei15193.Edesia.Resources.Strings.Romanian.EMail" />
					</Parameter>
					<Parameter>
						<String Value="Andrei15193.Edesia.Resources.Strings.Romanian.Error" />
					</Parameter>
					<Parameter>
						<String Value="Andrei15193.Edesia.Resources.Strings.Romanian.View" />
					</Parameter>
				</OnCreation>
			</Object>

			<Object Name="registrationSettings">
				<Type
					FullName="Andrei15193.Edesia.Settings.RegistrationSettings"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<Int32 Value="7" />
					</Parameter>
					<Parameter>
						<Double Value="48" />
					</Parameter>
				</OnCreation>
			</Object>
		</DependencyContainer>
	</DependencyInjection>
</configuration>