<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section
			name="DependencyInjection"
			type="Andrei15193.DependencyInjection.Configuration.DependencyInjectionConfigurationSection, Andrei15193.DependencyInjection"/>
	</configSections>

	<DependencyInjection xmlns="http://storage.andrei15193.ro/public/schemas/DependencyInjection.xsd">
		<DependencyContainer>
			<Object Name="xmlUniqueConstraintExceptionInterpreter">
				<Type
					FullName="Andrei15193.Edesia.Xml.Validation.XmlUniqueConstraintExceptionInterpreter"
					Assembly="Andrei15193.Edesia" />
			</Object>
			<Object Name="xmlDocumentProvider">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.Local.LocalXmlDocumentProvider"
					Assembly="Andrei15193.Edesia" />
				<OnCreated>
					<SetProperty Name="XmlSchemaExceptionInterpreters">
						<FromCollection>
							<ItemType
								FullName="Andrei15193.Edesia.Xml.Validation.IXmlSchemaExceptionInterpreter"
								Assembly="Andrei15193.Edesia">
								<GenericArguments>
									<Type FullName="System.Xml.Schema.XmlSchemaException"
										  Assembly="System.Xml.dll" />
								</GenericArguments>
							</ItemType>
							<Item>
								<Object Name="xmlUniqueConstraintExceptionInterpreter" />
							</Item>
						</FromCollection>
					</SetProperty>
					<SetProperty Name="DirectoryPath">
						<String Value="C:\Users\Andrei\Documents" />
					</SetProperty>
				</OnCreated>
			</Object>
			<Object Name="applicationUserRepository">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.XmlApplicationUserRepository"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="Membership.xml" />
					</Parameter>
					<Parameter>
						<Object Name="xmlDocumentProvider" />
					</Parameter>
				</OnCreation>
			</Object>
			<Object Name="deliveryRepository">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.XmlDeliveryZoneRepository"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="Delivery.xml" />
					</Parameter>
					<Parameter>
						<Object Name="xmlDocumentProvider" />
					</Parameter>
				</OnCreation>
			</Object>
			<Object Name="productRepository">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.XmlProductRepository"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="Products.xml" />
					</Parameter>
					<Parameter>
						<Object Name="xmlDocumentProvider" />
					</Parameter>
				</OnCreation>
			</Object>
			<Object Name="orderRepository">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.XmlOrderRepository"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="Orders.xml" />
					</Parameter>
					<Parameter>
						<Object Name="xmlDocumentProvider" />
					</Parameter>
				</OnCreation>
			</Object>
			<Object Name="deliveryTaskRepository">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.XmlDeliveryTaskRepository"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="DeliveryTasks.xml" />
					</Parameter>
					<Parameter>
						<Object Name="xmlDocumentProvider" />
					</Parameter>
				</OnCreation>
			</Object>

			<Object Name="eMailSettings">
				<Type
					FullName="Andrei15193.Edesia.Settings.Local.LocalEMailSettings"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="C:\Users\Andrei\Documents\email.txt" />
					</Parameter>
				</OnCreation>
			</Object>

			<Object Name="registrationSettings">
				<Type
					FullName="Andrei15193.Edesia.Settings.RegistrationSettings"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<Int32 Value="7" />
					</Parameter>
					<Parameter>
						<Double Value="48" />
					</Parameter>
				</OnCreation>
			</Object>
		</DependencyContainer>
	</DependencyInjection>
	<appSettings>
		<add key="webpages:Version"
			 value="3.0.0.0" />
		<add key="webpages:Enabled"
			 value="false" />
		<add key="ClientValidationEnabled"
			 value="true" />
		<add key="UnobtrusiveJavaScriptEnabled"
			 value="true" />
	</appSettings>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true"
					 targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<authentication mode="Forms">
			<forms loginUrl="~/User/Login"
				   timeout="1000" />
		</authentication>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization"
								  publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0"
								 newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease"
								  publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234"
								 newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth"
								  publicKeyToken="31bf3856ad364e35"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.2.0"
								 newVersion="2.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin"
								  publicKeyToken="31bf3856ad364e35"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0"
								 newVersion="2.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security"
								  publicKeyToken="31bf3856ad364e35"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.2.0"
								 newVersion="2.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies"
								  publicKeyToken="31bf3856ad364e35"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.2.0"
								 newVersion="2.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm"
								  publicKeyToken="31bf3856ad364e35"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.1.0"
								 newVersion="5.6.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client"
								  publicKeyToken="31bf3856ad364e35"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.1.0"
								 newVersion="5.6.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData"
								  publicKeyToken="31bf3856ad364e35"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.1.0"
								 newVersion="5.6.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>