<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<customErrors mode="Off" defaultRedirect="/" xdt:Transform="Replace" />
	</system.web>
	<DependencyInjection xdt:Transform="Replace" xmlns="http://storage.andrei15193.ro/public/schemas/DependencyInjection.xsd">
		<DependencyContainer>
			<Object Name="xmlUniqueConstraintExceptionInterpreter">
				<Type
					FullName="Andrei15193.Edesia.Xml.Validation.XmlUniqueConstraintExceptionInterpreter"
					Assembly="Andrei15193.Edesia" />
			</Object>
			<Object Name="xmlDocumentProvider">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.Azure.AzureXmlDocumentProvider"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="StorageConnectionString" />
					</Parameter>
				</OnCreation>
				<OnCreated>
					<SetProperty Name="XmlSchemaExceptionInterpreters">
						<FromCollection>
							<ItemType
								FullName="Andrei15193.Edesia.Xml.Validation.IXmlSchemaExceptionInterpreter"
								Assembly="Andrei15193.Edesia">
								<GenericArguments>
									<Type FullName="System.Xml.Schema.XmlSchemaException"
										  Assembly="System.Xml.dll" />
								</GenericArguments>
							</ItemType>
							<Item>
								<Object Name="xmlUniqueConstraintExceptionInterpreter" />
							</Item>
						</FromCollection>
					</SetProperty>
					<SetProperty Name="DirectoryPath">
						<String Value="Edesia" />
					</SetProperty>
					<SetProperty Name="DirectorySeparator">
						<Char Value="/" />
					</SetProperty>
				</OnCreated>
			</Object>
			<Object Name="applicationUserRepository">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.XmlApplicationUserRepository"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="Membership.xml" />
					</Parameter>
					<Parameter>
						<Object Name="xmlDocumentProvider" />
					</Parameter>
				</OnCreation>
			</Object>
			<Object Name="deliveryRepository">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.XmlDeliveryRepository"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="Delivery.xml" />
					</Parameter>
					<Parameter>
						<Object Name="xmlDocumentProvider" />
					</Parameter>
				</OnCreation>
			</Object>
			<Object Name="productRepository">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.XmlProductRepository"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="Products.xml" />
					</Parameter>
					<Parameter>
						<Object Name="xmlDocumentProvider" />
					</Parameter>
				</OnCreation>
			</Object>
			<Object Name="orderRepository">
				<Type
					FullName="Andrei15193.Edesia.DataAccess.Xml.XmlOrderRepository"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="Orders.xml" />
					</Parameter>
					<Parameter>
						<Object Name="xmlDocumentProvider" />
					</Parameter>
				</OnCreation>
			</Object>

			<Object Name="eMailSettings">
				<Type
					FullName="Andrei15193.Edesia.Settings.Azure.AzureEMailSettings"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<String Value="SmtpHost" />
					</Parameter>
					<Parameter>
						<String Value="SmtpPort" />
					</Parameter>
					<Parameter>
						<String Value="SmtpUsername" />
					</Parameter>
					<Parameter>
						<String Value="SmtpPassword" />
					</Parameter>
					<Parameter>
						<String Value="SmtpSenderDisplayName" />
					</Parameter>
					<Parameter>
						<String Value="SmtpSenderEMailAddress" />
					</Parameter>
				</OnCreation>
			</Object>

			<Object Name="registrationSettings">
				<Type
					FullName="Andrei15193.Edesia.Settings.RegistrationSettings"
					Assembly="Andrei15193.Edesia" />
				<OnCreation>
					<Parameter>
						<Int32 Value="7" />
					</Parameter>
					<Parameter>
						<Double Value="48" />
					</Parameter>
				</OnCreation>
			</Object>
		</DependencyContainer>
	</DependencyInjection>
</configuration>