@model IEnumerable<System.Collections.Generic.KeyValuePair<Andrei15193.Edesia.Models.Product, int>>
@{
	Layout = null;
	bool canMoveNext = true;
}
<div id="products">
	<h1>Produse</h1>
	@foreach (KeyValuePair<Andrei15193.Edesia.Models.Product, int> productAndOfferCount in Model)
	{
		@Html.Partial("GetProduct", productAndOfferCount)
	}
	<div style="clear:both;"></div>
</div>