@using Andrei15193.Edesia.Resources;
@{
	ViewBag.Title = DeliveryPlanningViewStrings.ViewTitle;
}
<h1>@DeliveryPlanningViewStrings.ViewTitle</h1>
<div class="grid fluid">
	<div class="row">
		<div class="span4">
			@Html.Action("Default", "DeliveryZone")
		</div>
		<div class="span4">
			@Html.Action("Default", "DeliveryTask")
		</div>
		<div class="span4">
			@Html.Action("Default", "Order")
		</div>
	</div>
</div>