@using Andrei15193.Edesia.Resources;
@model Andrei15193.Edesia.ViewModels.Delivery.DeliveryPlanningViewModel
@{
	ViewBag.Title = DeliveryPlanningViewStrings.ViewTitle;
}
<h1>@DeliveryPlanningViewStrings.ViewTitle</h1>
<div class="grid fluid">
	<div class="row">
		<div class="span4">
			@Html.Partial("_DeliveryZonePlanning")
		</div>
		<div class="span4">
			@Html.Action("PendingTasks", "Delivery")
		</div>
		<div class="span4">
			@Html.Action("PendingOrders", "Delivery")
		</div>
	</div>
</div>