@using Andrei15193.Edesia.Resources;
@{
	ViewBag.Title = ErrorControllerStrings.ForbiddenViewTitle;
}

<div class="grid fluid">
	<div class="row">
		<div class="span8 offset4">
			<h1>@ErrorControllerStrings.ForbiddenViewTitle</h1>
		</div>
	</div>
	<div class="row">
		<div class="span8 offset4">
			<p>@ErrorControllerStrings.ForbiddenLabel_DisplayName</p>
		</div>
	</div>
</div>