@using Andrei15193.Edesia.Resources;
@{
	ViewBag.Title = ErrorControllerStrings.NotFoundViewTitle;
}

<div class="grid fluid">
	<div class="row">
		<div class="span8 offset4">
			<h1>@ErrorControllerStrings.NotFoundViewTitle</h1>
		</div>
	</div>
	<div class="row">
		<div class="span8 offset4">
			<p>@ErrorControllerStrings.NotFoundLabel_DisplayName</p>
		</div>
	</div>
</div>