@{
	ViewBag.Title = Resources.Strings.View.HomePageTitle;
}
<div class="body-content">
	<div class="grid fluid">
		<div class="row">
			<div class="span8 offset2">
				<div class="notice bg-gray fg-white">
					<h1>@Resources.Strings.View.HomePageNoticeTitle</h1>
					<p class="text-justify">
						@Resources.Strings.View.HomePageNoticeParagraph1
						<div class="text-right"><em>Andrei</em></div>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>