@using Andrei15193.Edesia.Resources;
@{
	ViewBag.Title = ProductsViewStrings.ViewTitle;
}
<div class="body-content">
	<div class="grid fluid">
		<div class="row">
			<div class="span8 offset2">
				<div class="notice bg-gray fg-white">
					<h1>@ProductsViewStrings.NoticeTitle</h1>
					<p class="text-justify">
						@ProductsViewStrings.NoticeParagraph1
						<div class="text-right"><em>Andrei</em></div>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>