@using Andrei15193.Edesia.ApplicationResources.Language
@{
	ViewBag.Title = LanguageResource.HomePageTitle;
}
<div class="body-content">
	<div class="grid fluid">
		<div class="row">
			<div class="span8 offset2">
				<div class="notice bg-gray fg-white">
					<h1>@LanguageResource.NotReadyYetTitle</h1>
					<p class="text-justify">
						@LanguageResource.NotReadyYetMessage
						<div class="text-right"><em>Andrei</em></div>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>