#footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
}

.action
{
	background-color: #008A00 !important;
	color: #FFFFFF !important;
}

	.action:hover
	{
		background-color: #60A917 !important;
		color: #FFFFFF !important;
	}

.cancelAction
{
	background-color: #9A1616 !important;
	color: #FFFFFF !important;
}

	.cancelAction:hover
	{
		background-color: #E51400 !important;
		color: #FFFFFF !important;
	}

.disabledActionLink, .disabledActionLink:hover
{
	cursor: not-allowed !important;
	color: #EAEAEA !important;
}

.actionLink
{
	color: #008A00 !important;
}

	.actionLink:hover
	{
		color: #60A917 !important;
	}

.damagingActionLink
{
	color: #E51400 !important;
}

	.damagingActionLink:hover
	{
		color: #FF2D19 !important;
	}

.damagingAction
{
	background-color: #E51400 !important;
	color: #000000 !important;
}

	.damagingAction:hover
	{
		background-color: #FF2D19 !important;
		color: #000000 !important;
	}

p a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
	color: #60A917 !important;
}

	p a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
	{
		color: #7AD61D !important;
	}


.metro .navigation-bar.green
{
	background-color: #008A00;
	color: #FFFFFF;
}

	.metro .navigation-bar.green .navigation-bar-content .input-element:hover
	{
		background-color: #008A00 !important;
	}

	.metro .navigation-bar.green .element:hover,
	.metro .navigation-bar.white .element-menu > li:hover
	{
		background-color: #60A917 !important;
		color: #FFFFFF;
	}

	.metro .navigation-bar.green .pull-menu
	{
		color: #1D1D1D;
	}


/* Set padding to keep content from hitting the edges */
.body-content
{
	padding-left: 15px;
	padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error
{
	color: #b94a48;
}

.field-validation-valid
{
	display: none;
}

input.input-validation-error
{
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error
{
	border: 0 none;
}

.validation-summary-errors
{
	color: #b94a48;
}

.validation-summary-valid
{
	display: none;
}
